<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <appSettings>
    <!-- Application settings for dotCover Remote Coverage Server -->

    <!-- Enables logging and specifies log file name. If this key is specified but has an empty value log file will have 
         a default name and will be written to %TEMP%\JetLogs folder. -->
    <add key="LogFile" value=""/>
    
    <!-- Specifies logging level. Possible values: INFO, VERBOSE, TRACE. -->
    <add key="LogLevel" value="INFO"/>
    
    <!-- Port number on wich server is listening. -->
    <add key="PortNumber" value="9081"/>
    
    <!-- Path to a directory used to store clients' files. -->
    <add key="PathToFileStorages" value="./RemoteStorages"/>
    
    <!-- Size of the pool of processes that are used to store and handle clients' coverage snapshots (external storage processes). -->
    <add key="WorkspaceHostsPoolSize" value="3"/>
    
    <!-- External storage process initialization timeout (in milliseconds). -->
    <add key="WorkspaceHostInitializationTimeout" value="30000"/>
    
    <!-- Maximum amount of time a client is waiting for an external storage process to be obtained from the pool (in milliseconds). -->
    <add key="WorkspaceHostWaitTimeout" value="5000"/>
    
    <!-- Initial timeout before the new attempt to start an external storage process if the previous start failed. 
         After each failed attempt the timeout is doubled. After an external storage process is started the timeout gets back 
         to its initial value (in milliseconds). -->
    <add key="InitialTimeoutAfterFailedWorkspaceHostStart" value="5000"/>
    
    <!-- Maximum timeout before the new attempt to start an external storage process if the previous start failed (in milliseconds). -->
    <add key="MaxTimeoutAfterFailedWorkspaceHostStart" value="300000"/>
    
    <!-- Period of time after which unused client files are removed (in hours). -->
    <add key="AllowedFileStorageInactivityPeriod" value="24"/>
  </appSettings>
</configuration>
