<?xml version="1.0"?>
<configuration>
  <runtime>
    <!-- Don't kill application on first uncaught exception. -->
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <loadFromRemoteSources enabled="true"/>
    <!-- Enable server garbage collection (works best for multicore systems) -->
    <gcServer enabled="true" />
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
